<header class="site-header">
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <a href="/" class="nav-logo">
      <img src="/img/Logo.png" alt="LXH logo" />
    </a>

    <ul class="nav-links">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
